<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="WordMakeSetings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </configSections>
    <WordMakeSetings>
        <add key="数据尾" value="," />
        <add key="注解头" value="//" />
        <add key="段标识" value="" />
        <add key="添加段唯一标识" value="False" />
        <add key="数据格式十六进制" value="True" />
        <add key="数据段分行" value="True" />
        <add key="数据头" value="0x" />
        <add key="文件头" value="" />
        <add key="段头" value="" />
        <add key="注解尾" value="" />
        <add key="数据行头" value="DB " />
        <add key="段尾" value="" />
        <add key="数据行尾" value="" />
        <add key="每行数据位" value="20" />
        <add key="文件尾" value="" />
    </WordMakeSetings>
</configuration>