<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WordMake.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WordMake.Properties.Settings>
            <setting name="显示放大倍数" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="扫描线方向水平" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="水平扫描从左到右" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="竖直扫描从上到下" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="扫描线非整字节的用位０填充" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="输出字节顺序高位在前" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="文件头" serializeAs="String">
                <value />
            </setting>
            <setting name="文件尾" serializeAs="String">
                <value />
            </setting>
            <setting name="段标识" serializeAs="String">
                <value>	[] ={
</value>
            </setting>
            <setting name="添加段唯一标识" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="段头" serializeAs="String">
                <value>byte Image</value>
            </setting>
            <setting name="段尾" serializeAs="String">
                <value>};</value>
            </setting>
            <setting name="数据头" serializeAs="String">
                <value>0x</value>
            </setting>
            <setting name="数据尾" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="注解头" serializeAs="String">
                <value>//</value>
            </setting>
            <setting name="注解尾" serializeAs="String">
                <value />
            </setting>
            <setting name="数据格式十六进制" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="字体" serializeAs="String">
                <value>宋体, 9pt</value>
            </setting>
            <setting name="字模偏移" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="自动字体大小" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="字模大小" serializeAs="String">
                <value>12, 12</value>
            </setting>
            <setting name="数据段分行" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="数据行头" serializeAs="String">
                <value />
            </setting>
            <setting name="数据行尾" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="每行数据位" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="已点亮区域LCD颜色" serializeAs="String">
                <value>Info</value>
            </setting>
            <setting name="未点亮区域LCD颜色" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="字符线框颜色" serializeAs="String">
                <value>100, 0, 0, 255</value>
            </setting>
            <setting name="主窗口位置" serializeAs="String">
                <value>8, 8</value>
            </setting>
            <setting name="自动生成段头" serializeAs="String">
                <value>char ss</value>
            </setting>
            <setting name="自动生成段尾" serializeAs="String">
                <value>};</value>
            </setting>
            <setting name="自动模式输出索引偏移" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="变宽" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IM添加段唯一标识" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IM段标识" serializeAs="String">
                <value>[]={</value>
            </setting>
        </WordMake.Properties.Settings>
    </userSettings>
</configuration>